dropbox==12.0.2
Requests==2.32.3
setuptools==75.1.0
git+https://github.com/SameerArif64/Advance-Selenium-Chrome.git#egg=advance_selenium_chrome
git+https://github.com/SameerArif64/Json-As-Dict.git#egg=json_as_dict
